# Ignore generated compile_commands.json
compile_commands.json

# Project
project/addons/geqo/bin/
out/
# Godot 4+ specific ignores
project/.godot/
project/android/
export.cfg
export_presets.cfg
.godot

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

# Sconstruct
.sconsign.dblite
.scons-cache/

# Editors
.vscode/
.vs/
compile_commands.json
vc140.pdb

# JetBrains
.idea

# Python
.venv
# Cmake
cmake-build*
CMakeUserPresets.json
